---
import { actions } from "astro:actions";
import type { Task, RewardPicture } from "@utils/types.ts";

const userId = Astro.cookies.get("userId")!.value;
const { data, error } = await Astro.callAction(actions.getActiveJourney, {
  id: userId,
});
if (error) console.log({ error });
const tasks = data?.taskList as Task[];
const reward = data?.rewardPic as RewardPicture;
const rewardCredit = `${reward.creditUrl}${import.meta.env.UNSPLASH_REFERRER}`;
const rewardSource = `https://unsplash.com/${import.meta.env.UNSPLASH_REFERRER}`;
---

<section>
  <!-- <div class="path-wrapper"> -->
  <!-- <svg class="path-line" viewBox="0 0 300 574">
      <path
        d="M 150,19 
          L 210,57 
          L 270,96 
          L 210,134 
          L 150,172 
          L 90,210 
          L 30,249 
          L 90,287 
          L 150,325 
          L 210,363 
          L 270,402 
          L 210,440 
          L 150,478 
          L 90,516 
          L 30,555"
        fill="none"
        stroke="var(--dark-blue)"
        stroke-width="1"
        stroke-linejoin="round"></path>
      </svg> -->
  <!-- </div> -->
  <div class="reward">
    {
      data?.tasksCompleted === 15 ? (
        <figure>
          <img src={reward.smUrl} alt={reward.description} />
          <figcaption>
            <p>Photo by</p>
            <a href={rewardCredit}>{reward.creditName}</a>
            <p> on</p>
            <a href={rewardSource}>Unsplash</a>
          </figcaption>
        </figure>
      ) : (
        <figure>
          <img src={reward.blur_hash} alt="" />
          <figcaption>Complete tasks to unlock the picture!</figcaption>
        </figure>
      )
    }
  </div>
  <div class="path">
    <div class="tile fifteen">15</div>
    <div class="tile fourteen">14</div>
    <div class="tile thirteen">13</div>
    <div class="tile twelve">12</div>
    <div class="tile eleven">11</div>
    <div class="tile ten">10</div>
    <div class="tile nine">9</div>
    <div class="tile eight">8</div>
    <div class="tile seven">7</div>
    <div class="tile six">6</div>
    <div class="tile five">5</div>
    <div class="tile four">4</div>
    <div class="tile three">3</div>
    <div class="tile two">2</div>
    <div class="tile one">1</div>
  </div>
</section>

<style>
  section {
    /* probably will need to adjust this some to maintain the aspect ratio? ratio is 0.52265 or 300 / 574; */
    container: inline-size;
    inline-size: 80cqw;
    margin: 0 auto;
  }

  /* .path-wrapper {
    position: relative;
  } */

  /* .path-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  } */

  .path {
    display: grid;
    grid-template-columns: repeat(5, 16cqw);
    grid-template-rows: repeat(15, 2.75rem);
    justify-items: center;
    margin-bottom: 1rem;
  }

  .tile {
    inline-size: 2rem;
    block-size: 2rem;
    border: 1px solid var(--dark-blue);
    border-radius: 0.25rem;
    display: grid;
    place-items: center;
    margin: 0.375rem;
    background: var(--light-blue);
  }

  .one {
    grid-column: 1;
    grid-row: 15;
  }

  .two {
    grid-column: 2;
    grid-row: 14;
  }

  .three {
    grid-column: 3;
    grid-row: 13;
  }

  .four {
    grid-column: 4;
    grid-row: 12;
  }

  .five {
    grid-column: 5;
    grid-row: 11;
  }

  .six {
    grid-column: 4;
    grid-row: 10;
  }

  .seven {
    grid-column: 3;
    grid-row: 9;
  }

  .eight {
    grid-column: 2;
    grid-row: 8;
  }

  .nine {
    grid-column: 1;
    grid-row: 7;
  }

  .ten {
    grid-column: 2;
    grid-row: 6;
  }

  .eleven {
    grid-column: 3;
    grid-row: 5;
  }

  .twelve {
    grid-column: 4;
    grid-row: 4;
  }

  .thirteen {
    grid-column: 5;
    grid-row: 3;
  }

  .fourteen {
    grid-column: 4;
    grid-row: 2;
  }

  .fifteen {
    grid-column: 3;
    grid-row: 1;
  }

  .reward {
    border: 0.25rem solid var(--ivory);
    border-radius: 0.25rem;
    aspect-ratio: 4 / 3;

    & img {
      inline-size: 100%;
      block-size: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
</style>
